.jb-bio{
  &__text{
    p{
      @media screen and (min-width: $breakpoint-med){
        font-size: 1.6em;
      }
    }
    h2{
      font-size: 1.75em;
    }
    & {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1em;
      color: white;
    }
  }
  &__buttons{
    display: flex;
  }
  & {
    padding: 1em;
    max-width: $max-width;
    margin: auto;
  }
}
